@import "spriting";
@import "assets";
@import "bourbon";

$icon-sprite-map: sprite-map('icon-sprite-map',
                              sprite-layout(horizontal, (spacing: 5px, alignment: bottom)),
                             'images/icons/*');

%icon-bg {
  @include sprite-background($icon-sprite-map);
}

@each $icon in sprite-list($icon-sprite-map) {
  .icon-#{sprite-identifier($icon-sprite-map, $icon)} {
    @extend %icon-bg;
    @include sprite-position($icon-sprite-map, $icon);
    @include sprite-dimensions($icon-sprite-map, $icon);
  }
}

$width: 400px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include linear-gradient(#111, #666);
  color: #fff;
}

@include media('>phone', '<=tablet') {
  body {
    background-image: none;
    background-color: #fff;
  }
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul {
  margin: 0 auto;
  width: $width;
}

a {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: $width;
  height: 200px;
}
