@import "spriting";

@import "assets";

$icon-sprite-map: sprite-map('icon-sprite-map',
                              sprite-layout(horizontal, (spacing: 5px, alignment: bottom)),
                             'images/icons/*');

%icon-bg {
  @include sprite-background($icon-sprite-map);
}

@each $icon in sprite-list($icon-sprite-map) {
  .icon-#{sprite-identifier($icon-sprite-map, $icon)} {
    @extend %icon-bg;
    @include sprite-position($icon-sprite-map, $icon);
    @include sprite-dimensions($icon-sprite-map, $icon);
  }
}

$width: 400px;

body {
  background: #111;
  color: #fff;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: $width;
}

li {
  padding: 0;
  margin: 20px;
  list-style-type: none;
}

a {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  width: $width;
  height: 200px;
}
